body{
	margin-left: 1em;
	margin-right: 1em;
}

h1{
	text-align: center;
}

#loginButton{
    text-align: right;
}

.listView{
    display: block;
    margin-right: 1em;
}

.leftsection{
	float: left;
    width: 80%;
}

.rightsection{
	display: block;
	float: left;
    width: 20%;
}

footer{
    font-size: 0.8em;
}